name: Build and Deploy

on:
  push:
    branches:
      - main  # Trigger the action on push in main branch

jobs:
  build-apk:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter actions
        uses: subosito/flutter-action@v2
        # No need to specify a version, it will set up the latest stable version by default

      - name: Install dependencies
        run: flutter pub get
        working-directory: frontend

      - name: Build APK
        run: flutter build apk --target-platform android-arm64
        working-directory: frontend

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: app
          path: frontend/build/app/outputs/flutter-apk/app-release.apk